img.snuffler-front {
    border: none !important;
    background-color: rgba(255,255,255,0) !important;
    margin: 0px;
    height: 80px;
}

div.logos {
    position: fixed;
    bottom: 0px;
    background-color: #fff !important;
    width: 100%;
    -webkit-box-shadow: inset 0px 5px 8px -5px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0px 5px 8px -5px rgba(0,0,0,0.9);
    box-shadow: inset 0px 5px 8px -5px rgba(0,0,0,0.9);
}

div.logos img {
    background-color: #fff !important;
    max-height: 45px;
    max-width: 250px;
    border: none !important;
    margin: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

p.subtitle {
    font-size: 60%;
    opacity: .5;
}

div.overl {
    background-color: rgba(0, 0, 0, .8);
}

ul {
    list-style: square !important;
}

ul.subtitled li span, span.sub {
    font-size: 50%;
    opacity: .5;
    display: block;
}

img {
    margin: 0px;
    border: none !important;
    box-shadow: 1px 1px 7px rgba(0 ,0 ,0 ,.8) !important;
}

img.snuffler-small {
    background-color: rgba(255,255,255,0) !important;
    height: .9em;
    margin: 0px !important;
    box-shadow: none !important;
}

img.insar {
    width: 100%;
    background-color: transparent !important;
}

div.insar {
    width:45%;
}

img.github {
    background-color: transparent !important;
    box-shadow: none !important;
    filter: drop-shadow(0 0 1px rgba(255,255,255,.3));
}

div.quadtree {
    width: 50%;
    float: left;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right:10px solid green !important;
}

.arrow-right {
  margin-top: 10% !important;
  vertical-align: middle !important;
  width: 0;
  height: 0; 
  border-top: 60px solid transparent !important;
  border-bottom: 60px solid transparent !important;
  border-left: 60px solid rgba(255,255,255,.4) !important;
}
